@{
    ViewData["Title"] = "Kontakt";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-6">
        <p>
            Unsere Kontaktdaten sind:<br /><br />
            Fantasie Firma<br />
            Postfach 666<br />
            CH-8306 Brüttisellen<br />
        </p>
    </div>
    <div class="col-6">
        <img src="~/assets/logo.png" alt="logo"/>
    </div>

</div>
